html{
    scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
  
}

h1{
  font-size: 35px;
  line-height: 1;
  padding: 30px 0;
  text-align: left;
  font-family:'Alegreya', serif;
  color: #353832;
  
}
main {
  padding-bottom: 50px;
}

p{
  line-height: 1.6;
  
}
h2{
  font-size: 32px;
  line-height: 1.5;
  color: #6ba43c;
  color: #609435;
  color: #598a30;
}
h3 {
  line-height: 1.5;
}

/*navigation bar */
header{
  height: 70px;
  width:100%;
  filter: drop-shadow(0 6px 7px rgb(199, 197, 197));
  position: sticky; 
  top: 0;

  
}
.nav_links .logo{
  font-size: 30px;
  font-weight: bold;
  font-family:'Alegreya', serif;
  padding-bottom: 15px;
  -webkit-padding-start: 0px;
  -webkit-padding-before: 0px !important;
  

  

}

#about, #contact, #work{
  display:inline;
  font-size: 20px;
  padding-right:20px;
  padding-left: 20px;
  padding-top: 0px;
 
  -webkit-padding-before: 0px !important;

  -webkit-margin-before:0em !important;

}

nav ul{
  padding-inline-start: 0px;
}
nav a{
  color: black;
  text-decoration: none; 
  

}


nav{
  width:100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background-color: #ffffff;
  padding-top: 40px; 
  padding-bottom: 20px;
  text-align: center;
 
}

.current a{
  color: #598a30;
  font-weight: 900;
  text-decoration: underline;
  
}

/*Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/
nav a:hover, nav a:focus{
  text-decoration: underline;
}

.skip {
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}


a.skip:focus{
  top:20px;
  color: grey;
  text-decoration-style: solid;
}



/*Write selector/rule property to style all elements when in focus*/
*:focus {
  border: 2px solid;
}

/*footer*/
footer{
  background-color: white;
  color: #353832;
  padding-top: 30px;
  text-align: center;
  height: 80px;
}

footer p{
  margin: 30px;
}


/*arrow animation*/
@-webkit-keyframes arrow_bounce{
  /*Your code here.*/
  from { transform: translate3d(0, -10px, 0);} 
  to { transform: translate3d(0, 20px, 0);}


}
@keyframes arrow_bounce{
  from { transform: translate3d(0, -10px, 0);} 
  to { transform: translate3d(0, 20px, 0);}
}

.arrow{
  display: inline;
  padding-left: 10px;
  animation: arrow_bounce 0.7s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite; 
}

/*arrow media query reduced motion*/

@media screen and (prefers-reduced-motion: reduce) {
  *{
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}



/*main content of page - grid layout*/

main { 
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  grid-auto-rows: auto auto auto auto;
  background-color: #fcf4e3;
  background-color: #f5f6fa;
  background-color: #f1f0ee;
  background-color: #f7f7f7;
  
}


.intro {
  display: grid;
  min-height: auto;
  margin: 50px 0px;
  justify-content: center;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
 
}


#highlight{
  color: #6ba43c;
  color: #609435;
  color: #598a30;
  

}
#highlight-bigger{
  font-size: 25px;
  color: #598a30;
}



/* Work page */
#hand {
  height: 9%;
  width: 9%;
}
.work-container{
  grid-column: 1 / -1; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;

  
}

.work-container img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
  
}


.work-image{
  position: relative; 
}

.work-image img{
  display: block;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.work-image:hover .overlay {
  opacity: 0.8;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}








/* about page */



.profile-image{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;

}
.profile-image img{
  grid-column: 2 / span 1;
  height: 280px;
}

.flip-card {
  margin-top: 40px;
  grid-column: 2 / span 1;
  background-color: white;
  width: 100%;
  height: auto;

}

.profile-text{
  padding: 10%;
  border-radius: 6px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: auto;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}


.profile-text, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.flip-card-front {
  background-color: white;
}


.flip-card-back {
  position: relative;
  
  transform: rotateY(180deg);
}
.flip-card-back h2{
  padding: 5%;
  width: 100%;
  height: 800px;
  
}



.text-block{
background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  /*Your code here:*/
  margin: auto;
  vertical-align: middle;

  
}

/*project page*/

#project-intro{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: black;
  height: 300px;                

  /*Set background-image to header.jpg */
  background-image: url("/images/poster.png");
  /*filter: brightness(30%);*/
 
  opacity: 0.2;
  grid-column: 1 / -1;  
  grid-row: 1 / auto;   
}
#text-overlay-intro{
  color: black;
  grid-column: 2 / span 2;
  grid-row: 1 / auto; 
  margin: auto;
}

.project-image{
  grid-column: 2 / span 1; 
  padding-bottom: 50px;
  
}
figcaption{
  color: #353832;
  opacity: 0.8;
  grid-column: 2 / span 1;
  margin-top: 10px;
  text-align: center;
}
.project-text{
  grid-column: 2;
  margin-bottom: 80px;
}

.project-text-left {
  grid-column: 2;
  margin-bottom: 80px;
  padding-right: 30px;
}

.project-image-left, .project-image-right{
  grid-column: 2; 
  padding-bottom: 50px;
  margin: auto;
  
  
}


.page-nav{
  grid-column: 2;
}

.back, .next{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #598a30;
  padding-top: 10px;

}


.gallery{
  grid-column: 2;
  text-align: center;
}

.next-arrow{
  margin-left: 15px;
  margin-right: 15px;
  
}

/*contact form */
.form-container{
  grid-column: 2 / span 1;
}
fieldset{
  border: none;
}

/*whenever you click on a textbox, you want to visually indicate that it is in focus*/
form{
  grid-column: 2;
}

input:focus{
  border: 2px solid #598a30;
  
  

}


label{
  display: inline-block;
  margin-right:10px;
  /*width:15%;*/
}
input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 8px 0 40px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 20vh;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: #598a30;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  color: white;

  
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}




@media all and (min-width: 700px){
  
  
  /*work page */
  #hand {
    height: 6%;
    width: 6%;
  }

  
  .work-container img{
    width: 310px;
    height: 310px;
    
  }
  .work-image {
    display: inline;
    margin: 10px;
  
  }

  /*header/nav */

  
  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
   
  
   }

  
  
  .nav_links .logo{
    padding: 30px 10px 10px;
    -webkit-padding-before: 0px;
    
  }

  

  /*about page */
  .about {
    grid-template-columns: 1fr 7fr 7fr 1fr;
  }
  
  .about .intro{
    grid-column: 2 / span 2;
  }
  .form-container {
    grid-column: 2 / span 2;
  }
  
  .flip-card {
    grid-column: 2 / span 2;

  }
  .flip-card-back h2{
    padding: 5%;
    width: 100%;
    height: 400px;
  
  }
  
  /* project page */
  .project-text{
    grid-column: 2 / span 2;
  }

  .project-image{
    grid-column: 2 / span 2;
  }
  .page-nav{
    grid-column: 2 / span 2;
    
  }
  

  .profile-image{
    grid-column: 2 / span 2;
  
  }
  .profile-image img{
    height: 300px;
  }

  .project-image-left{
    grid-column: 2; 
    padding-bottom: 50px;
    margin: auto;
    
  }

  .project-image-right{
    grid-column: 3; 
    padding-bottom: 50px;
    margin: auto;
    
  }
}
  

 






@media all and (min-width: 1030px){
  
  .nav_links .logo{
    order: 2;
    margin: auto;
    padding: 30px 0px 30px 100px;
    -webkit-padding-before: 0px !important;

    -webkit-margin-before:0em !important;
  
    
  }
  
  #work{
    order: 1;
  }
  #about{
    order: 3;
    
  }
  #contact{
    order: 4;
  }

  .nav_links {
    margin: 70px;
  }

  
   
  
  
  .about{
    padding-top: 50px;
  
  }
  #hand {
    height: 5%;
    width: 5%;
  }
  .profile-image{
    grid-column: 2 / span 1;
    grid-row: 2;
  }
  .profile-image img{
    height: 400px;
  }
  
  .work-container img{
    width: 400px;
    height: 400px;
  }
  #hello {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }
  .intro h1 {
    grid-column: 2 / span 1;
  }
  .intro p {
    grid-column: 2 / span 1;
  }
  
  .about{
    grid-template-columns: 1fr 6fr 6fr 1fr;
  }

  .about .project-image {
    grid-column: 2 / span 2;
    width: 70%;
    margin: auto;
  }

  .about .project-text {
    grid-column: 2 / span 2;
  }



  .flip-card {
    grid-column: 3 / span 1;
    margin-top: 0px
  
  }
  .flip-card-back h2{
    padding: 5%;
    width: 100%;
    height: 400px;
    
  }

  .project-text-left {
    padding-top: 30%;
    padding-left: 20%;
  }
  .project-text{
    padding-left: 15%;
    padding-right: 15%;
  }
 

  .project-image-left, .project-image-right{
    width: 70%;
    margin: auto;
  }

  .project-image-left{
    padding-left: 20%;
  }
  #first-image-right, #second-image-right{
    padding-left: 30%;
  }

  /* contact page */
  .form-container{
    grid-column: 3 / span 1;
    padding-top: 80px;
    
  }
 
  #contact-page-intro{
    grid-column: 2 / span 1;
  }
}

/*You do not need to modify any code below this line.
It is included for accessibility to turn off animations
and movement for people who have modified their 
preferences to reduce motion.*/

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
