html{
    scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}

h1{
  font-size: 35px;
  line-height: 1;
  padding: 50px 0;
  text-align: left;
  font-family:'Alegreya', serif;
  color: #353832;
  
}

p{
  line-height: 1.6;
  
}
h2{
  font-size: 32px;
  line-height: 1.5;
  color: #6ba43c;
}
h3 {
  line-height: 1.5;
}

/*navigation bar */
header{
  height: 110px;
  width:100%;
  filter: drop-shadow(0 6px 7px rgb(199, 197, 197));
  position: sticky; 
  top: 0;

  
}
.logo{
  font-size: 30px;
  font-weight: bold;
  font-family:'Alegreya', serif;

}
nav li{
  display:inline;
  padding-right:20px;
  padding-left: 20px;
  padding-top: 60px;
}

nav ul{
  padding-inline-start: 0px;
}
nav a{
  color: black;
  text-decoration: none; 

}

.nav_links{
margin:0px
 }
nav{
  width:100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background-color: #ffffff;
  padding: 25px 0; 
  text-align: center;
 
}

.current a{
  color: #6ba43c;
  font-weight: 900;
  text-decoration: underline;
  
}

/*Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/
nav a:hover, nav a:focus{
  text-decoration: underline;
}

.skip {
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}


a.skip:focus{
  top:20px;
  color: grey;
  text-decoration-style: solid;
}



/*Write selector/rule property to style all elements when in focus*/
*:focus {
  border: 2px solid;
}

/*footer*/
footer{
  background-color: white;
  color: grey;
  padding-top: 40px;
  text-align: center;
  height: 80px;
}

footer p{
  margin: 30px;
}


/*arrow animation*/
@-webkit-keyframes arrow_bounce{
  /*Your code here.*/
  from { transform: translate3d(0, -10px, 0);} 
  to { transform: translate3d(0, 20px, 0);}


}
@keyframes arrow_bounce{
  from { transform: translate3d(0, -10px, 0);} 
  to { transform: translate3d(0, 20px, 0);}
}

.arrow{
  display: inline;
  padding-left: 10px;
  animation: arrow_bounce 0.7s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite; 
}

/*arrow media query reduced motion*/

@media screen and (prefers-reduced-motion: reduce) {
  *{
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}



/*main content of page - grid layout*/

main { 
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  grid-auto-rows: auto;
  background-color: #fcf4e3;
  background-color: #f5f6fa;
  background-color: #f1f0ee;
  background-color: #f7f7f7;
}


.intro {
  display: grid;
  min-height: auto;
  margin: 50px 0px;
  justify-content: center;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
 
  
}
#highlight{
  color: #6ba43c;
}



/* Work page */
.work-container{
  grid-column: 1 / -1; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  
}

.work-container img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
  
}

/*
.work-image:hover{
  background: black;
}
*/

.work-image{
  position: relative; 
}

.work-image img{
  display: block;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.work-image:hover .overlay {
  opacity: 0.8;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}








/* about page */

.profile-text{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  padding: 40px;
  margin: 20px;
  border-radius: 6px;
  background-color: white;
}


.profile-image{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;

}
.profile-image img{
  grid-column: 2 / span 1;
}





.text-block{
background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  /*Your code here:*/
  margin: auto;
  vertical-align: middle;

  
}

/*project page*/
.project-image{
  grid-column: 2; 
  padding-bottom: 50px;
  
}
figcaption{
  color: grey;
  opacity: 0.8;
  grid-column: 2 / span 1;
  margin-top: 10px;
  text-align: center;
}
.project-text{
  grid-column: 2;
  margin-bottom: 80px;
}

.project-text-half {
  grid-column: 2;
  margin-bottom: 80px;
}
.project-image-half{
  grid-column: 2;; 
  padding-bottom: 50px;
}


.page-nav{
  grid-column: 2;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  

}
.back {
  grid-column: 1;
  font-size: 20px;
  text-decoration: none;
  color: #6ba43c;
}


.next {
  grid-column: 3;
  text-align: right;
  font-size: 20px;
  text-decoration: none;
  color: #6ba43c;
}

.gallery{
  grid-column: 2;
  text-align: center;
}

.next-arrow{
  margin-left: 15px;
  margin-right: 15px;
  
}

/*contact form */
fieldset{
  border: none;
}
/*whenever you click on a textbox, you want to visually indicate that it is in focus*/
form{
  grid-column: 2;
}

input:focus{
  border: 2px solid #6ba43c;

}


label{
  display: inline-block;
  margin-right:10px;
  /*width:15%;*/
}
input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 8px 0 40px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 20vh;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: #6ba43c;
  border-radius: 5px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

















@media all and (min-width: 800px){
  nav{
    padding: 30px 0px;
    /*Your code here:*/
    text-align:right;
    vertical-align: middle;

  }

  .container{
    /*Your code here:*/
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 400px 400px 400px 400px 400px;
  }

  .about, .clients, .method-image, .contact-image{
    /*Your code here:*/
    grid-column: 3 / span 2;
  }

  .about-image, .clients-image, .method, .contact{
    /*Your code here:*/
    grid-column: 2 / span 2;
  }
}

/*You do not need to modify any code below this line.
It is included for accessibility to turn off animations
and movement for people who have modified their 
preferences to reduce motion.*/

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
